<div class="container">
  <mat-card>
    <mat-card-title>Fill Form</mat-card-title>
    <form class="example-form">
      <table style="width: 100%;" cellSpacing=0>
        <tr>
          <td>
            <mat-form-field class="inputName" appearance="fill">
              <mat-label>Enter First Name</mat-label>
              <input matInput >
            </mat-form-field>
          </td>
          <mat-form-field class="inputName" appearance="fill">
            <mat-label>Enter Last Name</mat-label>
            <input matInput>
          </mat-form-field>
        </tr>
      </table>
      <section>
        <label>Select Game :</label>
        <p><mat-checkbox  formControlName="cricket">Cricket</mat-checkbox></p>
        <p><mat-checkbox  formControlName="cricket">Football</mat-checkbox></p>
        <p><mat-checkbox  formControlName="cricket">Volley Ball</mat-checkbox></p>
      </section>
      <div class="radio">
        <label>Select Gender:</label><br><br>
        <mat-radio-group>
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female" style="margin-left: 10px;">Female</mat-radio-button>
        </mat-radio-group>
      </div><br>
      <div class="select">
        <label>Select Your City :</label><br><br>
        <mat-form-field>
          <mat-label>City</mat-label>
          <select matNativeControl required>
            <option value="Vapi">Vapi</option>
            <option value="Valsad">Valsad</option>
            <option value="surat">Surat</option>
          </select>
        </mat-form-field>
      </div>
    
    </form>
    <button mat-raised-button color="warn" (click)="openDailog()">Open Dailog</button>
    
  </mat-card>
  
</div>